@charset "utf-8";

.serif{
	font-family: 'Noto Serif JP', serif;
}

.form{
}
.modalOpen{
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: rgb(184, 184, 184);
    color: black;
    font-size: 20x;
}

.modalOpen .padding{
    padding: 5px;
}

.input_from{
    width: 100%;
    height: 55px;
}

input{
    width: 100%;
    box-sizing: border-box;
    height: 48px;
    font-size: 20px;
    border-radius: 5px;
}
input .padding{
    padding: 5px;;
}

.send_button{
    width: 100%;
    min-width: 100px;
    padding: 0px;
    border-radius: 5px;
    height: 52px;
    font-size: 20px;
    border-color: darkkhaki;
    background-color: rgb(254, 255, 195);
}

.send_button:hover {
    opacity: .7;
}
@media screen and (max-width:480px) {
 
    .input_from{
        height: 200px;
    }
    input{
        height: 150px;
    }
    .modalOpen{
        height: 150px;
    }
    .send_button{
        height: 150px;
    }
 
}

.modal{
    position: fixed;
    top:50%;
    left:50%;
    background-color: white;
    color: black;
    padding:5px;
    border-radius: 5px;
    transform: translate(-50%,-50%);
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

h1{
   font-size: 30px;
   font-weight: bold;
   margin: 30px;
}

.modalContents{
    font-size: 20px;
    font-weight: normal;
    margin: 20px;
 
}

.modal.active{
    opacity: 1;
    visibility: visible;
}

.mask{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.6;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}
.mask.active{
    opacity: 0.6;
    visibility: visible;
}
